.jss685{
	font-size:2.4em;
}
.a6008 {
    flex: none;
    padding: 22px 16px;
    max-width: 476px;
    word-wrap: break-word;
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.a6009 {
    color: #3a3a3a;
    padding: 0 0 40px 0;
    font-size: 2.4rem;
    text-align: center;
    font-weight: 700;
    font-family: Noto Sans KR,sans-serif;
    line-height: 1.2;
}
.a6010 {
    margin-bottom: 20px;
    font-family: Noto Sans KR,sans-serif;
    line-height: 1.167;
}
.a6011 {
    border: 1px solid rgba(196, 196, 198, 1);
    border-radius: 4px;
    padding: 30px;
    position: relative;
    list-style: none;
    margin-bottom: 0px;
}
.a6012:first-child {
    border-top: 0 none;
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}
.a6013 {
	margin:0;
    font-size: 1.4rem;
    line-height: 1.5;
    display: block;
    font-family: Noto Sans KR,sans-serif;
    font-weight: 200;
}
.a6014 {
    color: rgba(196, 196, 198, 1);
}
.a6015 {
    margin-top: 20px;
}
.a6016 {
    padding: 13px 16px;
    font-size: 1.6rem;
    box-shadow: none !important;
    font-weight: 500;
    text-transform: capitalize;
    width: 100%;
    color: #fff;
    background-color: rgba(162, 0, 199, 1);
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: Noto Sans KR,sans-serif;
    line-height: 1.5;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    outline: 0;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.a6017 {
    color: rgba(162, 0, 199, 1);
    padding: 12px 16px;
    background-color: #fff;
}
.a6016 {
    padding: 13px 16px;
    font-size: 1rem;
    box-shadow: none !important;
    font-weight: 500;
    text-transform: capitalize;
    width: 100%;
    border-color: currentColor;
    border: 1px solid rgba(0, 0, 0, 0.23);
    margin-bottom:0px;
}
.jh{
	margin-bottom:100px;
}