.a6002 {
	color: #3a3a3a;
	margin: 0;
	padding: 0 0 40px 0;
	font-size: 2.4rem;
	text-align: center;
	font-weight: 700;
	font-family: Noto Sans KR, sans-serif;
	line-height: 1.2;
	margin-top: 110px;
}

.a6001 {
	flex: none;
	padding: 22px 16px;
	max-width: 476px;
	word-wrap: break-word;
	box-sizing: border-box;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-right: 16px;
}

.a6003 {
	margin-bottom: 17px;
	width: 100%;
	border: 0;
	margin: 0;
	display: inline-flex;
	padding: 0;
	position: relative;
	min-width: 0;
	flex-direction: column;
	vertical-align: top;
}

.jss341 .a6004, .jss341 .jss346, .jss341 .jss347 {
	color: rgba(0, 0, 0, 1);
	position: relative;
	font-size: 1.4rem;
	transform: none !important;
	font-weight: 500;
	padding-bottom: 8px;
	z-index: 1;
	pointer-events: none;
	transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform
		200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
	transform-origin: top left;
	top: 0;
	left: 0;
	display: block;
	padding: 0;
	font-family: Noto Sans KR, sans-serif;
	line-height: 1;
}

.jss341 .a6004>span {
	top: -1px;
	color: rgba(162, 0, 199, 1);
	position: relative;
	font-size: 1.2rem;
}

.a6005 {
	border: 1px solid rgba(196, 196, 198, 1);
	padding: 0;
	background: #fff;
	border-radius: 4px;
	position: relative;
	width: 100%;
	color: rgba(0, 0, 0, 1);
	cursor: text;
	display: inline-flex;
	font-size: 1.6rem;
	box-sizing: border-box;
	align-items: center;
	font-family: Noto Sans KR, sans-serif;
	font-weight: 400;
	line-height: 1.1876em;
	margin-bottom: 14px;
}

.MuiInputBase-input:invalid {
	box-shadow: none;
}

.a6006 {
	height: 52px;
	padding: 17.5px 44px 17.5px 16px;
	z-index: 10;
	position: relative;
	font-size: 1.6rem;
	box-sizing: border-box;
	border-radius: 4px;
	background-color: transparent;
	-webkit-appearance: none;
	font: inherit;
	color: currentColor;
	width: 100%;
	border: 0;
	margin: 0;
	display: block;
	min-width: 0;
	background: none;
	animation-name: mui-auto-fill-cancel;
	letter-spacing: inherit;
	animation-duration: 10ms;
	-webkit-tap-highlight-color: transparent;
}

.a6003 {
	margin-bottom: 17px;
	width: 100%;
	border: 0;
	margin: 0;
	display: inline-flex;
	padding: 0;
	position: relative;
	min-width: 0;
	flex-direction: column;
	vertical-align: top;
}

.jss341 .a6004, .jss341 .jss346, .jss341 .jss347 {
	color: rgba(0, 0, 0, 1);
	position: relative;
	font-size: 1.1rem;
	transform: none !important;
	font-weight: 500;
	padding-bottom: 8px;
	z-index: 1;
	pointer-events: none;
	transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform
		200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
	transform-origin: top left;
	top: 0;
	left: 0;
	display: block;
	padding: 0;
	font-family: Noto Sans KR, sans-serif;
	line-height: 1;
	margin-bottom: 10px;
}

.a6005 {
	border: 1px solid rgba(196, 196, 198, 1);
	padding: 0;
	background: #fff;
	border-radius: 4px;
	position: relative;
	transition: background-color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
	width: 100%;
	color: rgba(0, 0, 0, 1);
	cursor: text;
	display: inline-flex;
	font-size: 1rem;
	box-sizing: border-box;
	align-items: center;
	font-family: Noto Sans KR, sans-serif;
	font-weight: 400;
	line-height: 1.1876em;
}

.a6006 {
	height: 52px;
	padding: 17.5px 44px 17.5px 16px;
	z-index: 10;
	position: relative;
	font-size: 1.6rem;
	box-sizing: border-box;
	border-radius: 4px;
	outline-color: rgba(162, 0, 199, 1);
	background-color: transparent;
	-webkit-appearance: none;
	font: inherit;
	color: currentColor;
	width: 100%;
	border: 0;
	margin: 0;
	display: block;
	min-width: 0;
	background: none;
	animation-name: mui-auto-fill-cancel;
	letter-spacing: inherit;
	animation-duration: 10ms;
	-webkit-tap-highlight-color: transparent;
}

.a6007 {
	padding: 13px 16px;
	font-size: 1.0rem;
	box-shadow: none !important;
	font-weight: 500;
	text-transform: capitalize;
	width: 100%;
	color: #fff;
	background-color: rgba(162, 0, 199, 1);
	min-width: 64px;
	box-sizing: border-box;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms
		cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	font-family: Noto Sans KR, sans-serif;
	line-height: 1.75;
	border-radius: 4px;
	border: 0;
	cursor: pointer;
	margin: 0;
	display: inline-flex;
	outline: 0;
	position: relative;
	align-items: center;
	user-select: none;
	vertical-align: middle;
	justify-content: center;
	text-decoration: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	margin-bottom: 100px;
}

.MuiButton-label {
	width: 100%;
	display: inherit;
	align-items: inherit;
	justify-content: inherit;
}

.MuiTouchRipple-root {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	overflow: hidden;
	position: absolute;
	border-radius: inherit;
	pointer-events: none;
}

#loginMessage {
	color: rgb(162, 0, 199);
}

#messageTable {
	margin-bottom: 12px;
}