<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
    <typeAliases>
        <!-- <typeAlias alias="MemberVO" type="test.MemberVO"/> -->
        <typeAlias alias="String" type="java.lang.String"/>
        <typeAlias alias="map" type="java.util.Map"/>        
        <typeAlias alias="memberVO" type="vo.MemberVO"/>    
        <typeAlias alias="goodsList" type="vo.GoodsVO"/>
        <typeAlias alias="goodsDetails" type="vo.GoodsDetailsVO"/>            
        <typeAlias alias="chattingVO" type="vo.ChattingVO"/>            
    </typeAliases>
 
    <environments default="development">
        <environment id="development">
          <transactionManager type="JDBC"/>
            <!--  connecting to Local MySql -->
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
                <property name="username" value="cat"/>
                <property name="password" value="c1234"/>
            </dataSource>
       </environment>
    </environments>
    <mappers>
       <mapper resource="resources/mapper/main.xml"/>
       <mapper resource="resources/mapper/member.xml"/>
    </mappers>
</configuration>