.contentBox {
    display: flex;
    padding: 0;
    flex-grow: 1;
    flex-wrap: wrap;
    min-width: 0;
    flex-basis: 0;
    flex-shrink: 1;
}

.contentBox > main {
    padding: 34px 0 0 50px;
    position: relative;
    flex-grow: 1;
    flex-wrap: wrap;
    min-width: 0;
    flex-basis: 0;
    word-break: break-all;
    flex-shrink: 1;
}  

.contentBox > main > div > h2 {
    margin: 0 0 30px 0;
    font-size: 1.7rem;
}
