
.jss1030 {
    width: 100%;
    padding: 0;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.jss1031 {    
    background-color: rgba(162, 0, 199, 1); 
}
.jss1032 {
    margin: 0 auto;
    display: flex;
    padding: 0 30px;
    position: relative;
    max-width: 1432px;
    border-radius: 0;
    justify-content: space-between;
}
.jss1032 > li {
    list-style: none;
}
.jss1032 a {
    border-radius: 0;
    border: 0 none !important;
    display: flex;
    padding: 33px 0;
    cursor: pointer;
    margin: 0;
    outline: 0;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.jss1032 span {
    border: 0 none !important;
    display: flex;
    padding: 33px 0;
}
.jss1033 {
    border-bottom: 1px solid rgba(235, 235, 235, 1);
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.jss1034 {
height: 90px;
margin: 0 auto;
padding: 0 30px;
max-width: 1432px;
width: 100%;
display: flex;
flex-wrap: wrap;
box-sizing: border-box;
}
.a1035 {
    display: flex;
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
    margin: 0;
    box-sizing: border-box;
}
.a1036 {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
}
.a1036 > a {
    padding: 0;
    padding-left: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 0 none !important;
    height: 20px;
    position: relative;
    font-size: 0.8rem;
    flex-basis: auto;
    font-weight: 400;
    line-height: 1;
    text-transform: capitalize;
    min-width: 40px;
    color: rgba(0, 0, 0, 1);
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: Noto Sans KR,sans-serif;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent
}
.a1037 {
    display: flex;
    justify-content: flex-end;
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
    margin: 0;
    box-sizing: border-box;
}
.a1038 {
    display: flex;
    padding: 0;
    align-items: center;
}
.a1038:first-child {
    margin-right: 15px;
}
.a1039 {
    padding: 5px;
    flex: 0 0 auto;
    color: inherit;
    overflow: visible;
    font-size: 2.4rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.a1039 > span {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}
.a1039 svg {
    width: 130px;
    height: 40px;
    fill: currentColor;
    display: inline-block;
    font-size: 2.4rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
.a1040 {
    padding: 5px;
    flex: 0 0 auto;
    color: inherit;
    overflow: visible;
    font-size: 2.4rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.a1040 > span {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}
.a1041 {
    fill: rgba(196, 196, 198, 1);
    transition: all 0.2s ease;
}
.a1042 {
    height: 139px;
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1432px;
    align-items: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.a1043 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
    margin: 0;
    box-sizing: border-box;
}
.a1044 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.a1045 {
    font-size: 1.7rem;
    font-weight: 400;
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
    margin: 0;
    box-sizing: border-box;
}
.a1046 {
    font-size: 0.9rem;
    padding-top: 10px;
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
    margin: 0;
    box-sizing: border-box;
}
.a1045 > svg {
    width: 22px;
    height: 22px;
    fill: currentColor;
    display: inline-block;
    font-size: 2.4rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
.a1045 > button {
    margin-left: 10px;
    width: 96px;
    margin-top: -5px;
    padding: 3px 12px;
    font-size: 1.0rem;
    box-shadow: none !important;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
    background-color: rgba(162, 0, 199, 1);
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: Noto Sans KR,sans-serif;
    line-height: 1.75;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent
}
.a1045 > button > span {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}
.a1047 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
    margin: 0;
    box-sizing: border-box;
}
.a1048 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.a1049 {
    display: flex;
    justify-content: flex-end;
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
    margin: 0;
    box-sizing: border-box;
}
.a1050 {
    width: 126px;
    height: 27px;
    display: inline-block;
}
.a1050 > svg {
    width: 126px;
    height: 27px;
    fill: currentColor;
    display: inline-block;
    font-size: 2.4rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
.a1050 path {
    fill: rgba(60, 60, 67, 0.6);

}
.a1051 {    
    color: rgba(60, 60, 67, 0.6);
    font-size: 0.8rem;
    font-style: normal;
    text-align: right;
    font-weight: 400;
    line-height: 1.8;
    padding-top: 6px;
}
.a1052 {
    height: 74px;
    margin: 0 auto;
    display: flex;
    padding: 0 30px;
    position: relative;
    max-width: 1432px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}
.a1052 > li {
    position: relative;
    list-style: none;
}
.a1052 picture {    
    display: inline;        
}
.a1052 image {
    margin: auto;
    display: block;
    max-width: 100%;
}