.a1053 {
            padding-left: 0;
            padding-right: 0;
            width: 70%;
            display: block;
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
        }
        .a1054 {
            top: 0;
            position: relative;
            margin-bottom: 22px;
            z-index: 0;
        }
        .a1055 {
            padding: 24px 0 17px;
            border-bottom: 0 none;
            z-index: 0;
            box-sizing: border-box;
            background-color: #fff;
            width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .a1056 {
            color: rgba(0, 0, 0, 1);
            font-size: 1.2rem;
            font-weight: 400;
            font-family: Noto Sans KR,sans-serif;
            line-height: 1.5;
            margin: 0;
        }
        .a1056 > strong {
            font-weight: 700;
        }
        .a1057 {
            height: 40px;
            padding: 0 0 0 4px;
            border-top: 1px solid rgba(235, 235, 235, 1);
            border-bottom: 1px solid #cfcfd0;
            width: 100%;
            display: flex;
            position: relative;
            font-size: 1.0rem;
            box-sizing: border-box;
            align-items: center;
            background-color: #fff;
            margin-left: auto;
            margin-right: auto;
        }
        .a1058 {
            color: rgba(60, 60, 67, 0.6);
            flex: 1;
        }
        .a1058 > strong {
            color: rgba(0, 0, 0, 1);
            font-weight: 400;
        }
        .a1059 {
            font-size: 1.0rem;
            display: block;
            transform-origin: top left;
            color: rgba(60, 60, 67, 0.6);
            padding: 0;
            font-family: Noto Sans KR,sans-serif;
            font-weight: 400;
            line-height: 1;
        }
        .a1060 {
            margin-left: 10px;
            width: 150px;
            padding: .4em .5em;
            border: 1px solid #999;
            font-family: inherit;
            background: url('categoryImg/arrow.jpg') no-repeat 95% 50%;
            border-radius: 0px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            }

        .a1060::-ms-expand {
            display: none;
        }
        .a1061 {
            width: 100%;
            padding: 0;
            overflow: hidden;
        }
        .a1062 {
            width: calc(100% + 24px);
            margin: 0 -12px;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
        }
        .a1063 {
            padding: 0 12px 36px;
            flex-grow: 0;
            max-width: 20%;
            flex-basis: 20%;
            margin: 0;
            box-sizing: border-box;
        }
        .a1064 {
            width: 100%;
            font-size: 1.4rem;
            overflow: hidden;
            box-shadow: none;
            color: rgba(0, 0, 0, 1);
            transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            background-color: #fff;
        }
        .a1065 {
            display: inline;
            color: rgba(0, 0, 0, 1);
            text-decoration: none;
            width: 100%;
            text-align: inherit;
            border: 0;
            cursor: pointer;
            margin: 0;
            outline: 0;
            padding: 0;
            position: relative;
            align-items: center;
            user-select: none;
            border-radius: 0;
            vertical-align: middle;
            justify-content: center;
            background-color: transparent;
            -webkit-appearance: none;
            -webkit-tap-highlight-color: transparent;
        }
        .a1066 {
            flex: none;
            width: 100%;
            overflow: hidden;
            position: relative;
            margin-bottom: auto;
            flex-direction: column;
            display: block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .a1067 {
            width: 100%;
            height: 100%;
        }
        .a1069 {
            margin: 6px 0 0 0;
            flex: none;
            width: 100%;
            padding: 0 !important;
            flex-direction: column;
        }
        .a1070 {
            margin: 0;
            font-size: .9rem;
            font-weight: 400;
            line-height: 1.5;
        }
        .a1071 {
            margin-top: 6px;
            line-height: 1.6;
        }
        .a1072 {
            font-size: 1.2rem;
            font-weight: 700;
        }
        /* 별점 */
        .jss1017 {
            font-size: 1.0rem;
            color: rgba(60, 60, 67, 0.6);
            display: flex;
            margin-top: 2px;
            align-items: center;
            white-space: nowrap;
        }
        .jss1018 {
            display: flex;
            margin-right: 4px;
        }
        .MuiRating-readOnly {
            pointer-events: none;
        }
        .MuiRating-root {
            color: #ffb400;
            cursor: pointer;
            display: inline-flex;
            position: relative;
            font-size: 2.4rem;
            text-align: left;
            -webkit-tap-highlight-color: transparent;
        }
        .MuiRating-decimal {
            position: relative;
        }
        .jss1019 {
            margin: 0;
        }
        .MuiRating-icon {
            display: flex;
            transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            pointer-events: none;
        }
        .MuiSvgIcon-root {
            fill: currentColor;
            width: 1em;
            height: 1em;
            display: inline-block;
            font-size: 2.4rem;
            transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            flex-shrink: 0;
            user-select: none;
        }
        .jss1020 svg {
            width: 12px;
            height: 12px;
        }
        .jss1021 path {
            fill: rgba(162, 0, 199, 1);
        }
        /* 별점 */
        /* 페이징 */
        .jss1025 {
            padding: 75px 0 25px;
            margin: 0;
            display: flex;
            list-style: none;
            justify-content: center;
            background-color: #fff;
        }
        .jss1025 button {
            height: 48px;
            min-width: 48px;
            margin: 0 2px;
            padding: 0 10px;
            font-size: 1.1rem;
            border-radius: 8px; 
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            color: rgba(0, 0, 0, 1);
            box-sizing: border-box;
            text-align: center;
            font-family: Noto Sans KR,sans-serif;
            font-weight: 400;
            line-height: 1.43;
            border: 0;
            cursor: pointer;
            display: inline-flex;
            outline: 0;
            position: relative;
            align-items: center;
            user-select: none;
            vertical-align: middle;
            justify-content: center;
            text-decoration: none;
            background-color: transparent;
            -webkit-appearance: none;
            -webkit-tap-highlight-color: transparent;   
        }
        .jss1025 svg {
            width: 16px;
            height: 16px;
            fill: currentColor;
            display: inline-block;
            font-size: 2.4rem;
            transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            flex-shrink: 0;
            user-select: none;
        }
        .jss1026 {
            font-weight: 700 !important;
            font-size: 1.3rem !important;
        }
        .search1 {
        	color: rgba(0, 0, 0, 1) !important;
    		font-weight: 700;
    		background-color: rgba(244, 244, 245, 1) !important;
        }
        .search2:hover{
        	color: rgba(60, 60, 67, 0.6);
    		background-color: rgba(244, 244, 245, 1);
        }